*{
    margin: 0 0;
}
body{
    background-image: url(https://i.pinimg.com/564x/52/d8/3d/52d83df5468eb7131eaac24754e65ce5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 90px;
    height: 90px;
}
body{
    display: grid;
    grid-template:
    "cc cc cc "
    "cp cp mm"
    "cp cp ee "
    "pp pp pp ";
}
.cabeca{
    grid-area: cc;
    background-color: rgba(0, 0, 0, 0.695);
}
.menu{
    grid-area: mm;
    background-color: rgba(0, 0, 0, 0.695);
}
.corpo{
    grid-area: cp;
    background-color: rgba(0, 0, 0, 0.695);
    text-align: center;
    font-size: larger;

}
.rodape{
    grid-area: pp;
    background-color: rgba(0, 0, 0, 0.695);
}
.espaco{
    grid-area: ee;
    background-color: rgba(0, 0, 0, 0.695);
}
